
<div style="margin-top: 3%; display: flex; justify-content: center;">
    <button type="button" class="btn btn-primary"><a href="dashboard/upload" style="text-decoration: none; color: inherit;">Upload a Design</a></button>
</div>

<div class="row container-fluid" style="margin-top: 5%;">
    {{#each designs as |design|}}
    <input type="hidden" id="design-id" value="{{design.id}}" />
    <div class="col-md-3">
        <div class="card-placement">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <div style="display: flex; justify-content: space-evenly; padding-top: 3%; padding-bottom: 3%;">
                        <span>Uploaded By: {{user.username}}</span>
                    </div>
                </ul>
                    <img src="{{design.image_url}}" class="card-img-top" alt="..." style="height: 300px;">
               <ul class="list-group list-group-flush">
                    <div style="display: flex; justify-content: space-between; padding: 3%;">
                        <span><a href="/api/comments/{{design.id}}">View comments</a></span>
                        <span><i class="bi bi-chat-left-dots"></i></span>
                    </div>
                </ul> 
 
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script src="/js/deleteDesign.js"></script>

