<div style="display: flex; justify-content: center; margin-top: 4%;">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <div class="card-body" style="background-color: #7B8A8B; height: 150px;">
              
            </div>
            <div style="display: flex; justify-content: center; margin-top: 5%;">
                <button type="button" class="btn btn-primary" id="submitUpload">Submit</button>
            </div>
        </div>
      </div>
</div>

<div class="row container-fluid">
    <div class="col-md-3">
        <div class="card-placement">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <div class="top-card">
                        <span>Posted by Brax</span>
                        <span>5/18/2021</span>
                        <span>8:15PM</span>
                    </div>
                </ul>
                    <img src="/images/tshirt.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-middle">
                        <span>5</span>
                        <span>Cost $10</span>
                        <span><i class="bi bi-trash"></i></span>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="card-bottom">
                        <span>Click to view 3 comments</span>
                        <span><i class="bi bi-chat-left-dots"></i></span>
                    </div>
                </ul> 
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card-placement">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <div class="top-card">
                        <span>Posted by Brax</span>
                        <span>5/18/2021</span>
                        <span>8:15PM</span>
                    </div>
                </ul>
                    <img src="/images/tshirt2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-middle">
                        <span>5</span>
                        <span>Cost $10</span>
                        <span><i class="bi bi-trash"></i></span>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="card-bottom">
                        <span>Click to view 3 comments</span>
                        <span><i class="bi bi-chat-left-dots"></i></span>
                    </div>
                </ul> 
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card-placement">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <div class="top-card">
                        <span>Posted by Brax</span>
                        <span>5/18/2021</span>
                        <span>8:15PM</span>
                    </div>
                </ul>
                    <img src="/images/tshirt3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-middle">
                        <span>5</span>
                        <span>Cost $10</span>
                        <span><i class="bi bi-trash"></i></span>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="card-bottom">
                        <span>Click to view 3 comments</span>
                        <span><i class="bi bi-chat-left-dots"></i></span>
                    </div>
                </ul> 
            </div>
        </div>
    </div>



    <div class="col-md-3">
        <div class="card-placement">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <div class="top-card">
                        <span>Posted by Brax</span>
                        <span>5/18/2021</span>
                        <span>8:15PM</span>
                    </div>
                </ul>
                    <img src="/images/tshirt4.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-middle">
                        <span>5</span>
                        <span>Cost $10</span>
                        <span><i class="bi bi-trash"></i></span>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="card-bottom">
                        <span>Click to view 3 comments</span>
                        <span><i class="bi bi-chat-left-dots"></i></span>
                    </div>
                </ul> 
            </div>
        </div>
    </div>

</div>

</body>
    <script src="/js/upload.js"></script>
</html>