<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard 3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<!----------------------------------------------------------- END OF NAVBAR -------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">CoHoots</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
<!----------------------------------------------------------- END OF NAVBAR -------------------------------------------->

<div style="margin-top: 3%; display: flex; justify-content: center;">
    <button type="button" class="btn btn-primary">Upload a Design</button>
    
</div>

<div class="row">

    
    <div class="col-md-3">
        <div class="card-placement">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <div class="top-card">
                        <span>Posted by Brax</span>
                        <span>5/18/2021</span>
                        <span>8:15PM</span>
                    </div>
                </ul>
                    <img src="./tshirt.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-middle">
                        <span>5</span>
                        <span>Cost 10$</span>
                        <span><i class="bi bi-trash"></i></span>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="card-bottom">
                        <span><a href="#">Click to view 3 comments</a></span>
                        <span><i class="bi bi-chat-left-dots"></i></span>
                    </div>
                </ul> 
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card-placement">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <div class="top-card">
                        <span>Posted by Kris</span>
                        <span>5/18/2021</span>
                        <span>8:15PM</span>
                    </div>
                </ul>
                    <img src="./tshirt2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-middle">
                        <span>5</span>
                        <span>Cost 10$</span>
                        <span><i class="bi bi-trash"></i></span>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="card-bottom">
                        <span><a href="#">Click to view 3 comments</a></span>
                        <span><i class="bi bi-chat-left-dots"></i></span>
                    </div>
                </ul> 
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card-placement">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <div class="top-card">
                        <span>Posted by Karen</span>
                        <span>5/18/2021</span>
                        <span>8:15PM</span>
                    </div>
                </ul>
                    <img src="./tshirt3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-middle">
                        <span>5</span>
                        <span>Cost 10$</span>
                        <span><i class="bi bi-trash"></i></span>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="card-bottom">
                        <span><a href="#">Click to view 3 comments</a></span>
                        <span><i class="bi bi-chat-left-dots"></i></span>
                    </div>
                </ul> 
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card-placement">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <div class="top-card">
                        <span>Posted by Salome</span>
                        <span>5/18/2021</span>
                        <span>8:15PM</span>
                    </div>
                </ul>
                    <img src="./tshirt4.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-middle">
                        <span>5</span>
                        <span>Cost 10$</span>
                        <span><i class="bi bi-trash"></i></span>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="card-bottom">
                        <span><a href="#">Click to view 3 comments</a></span>
                        <span><i class="bi bi-chat-left-dots"></i></span>
                    </div>
                </ul> 
            </div>
        </div>
    </div>


    
    
   
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</html>