*{
  box-sizing: border-box;
}

.card-placement{
  display: flex; 
  justify-content: center; 
  margin-top: 10%;
}

.top-card {
  display: flex; 
  justify-content: space-evenly; 
  padding-top: 3%; 
  padding-bottom: 3%;
}

.card-middle{
  display: flex; 
  justify-content: space-between
}

.card-bottom {
  display: flex; 
  justify-content: space-between; 
  padding: 3%;
}

.card-comment{
  display: flex; 
  margin-top: 18%; 
  justify-content: space-between; 
  padding-right: 3%; 
  padding-bottom: 3%;
}

img {    
  height: 300px;  
  }

/* .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 0.5em
  } */

body {
  font-family: 'Fredoka One', cursive;

}
